CREATE DATABASE AEROLINEA


USE[AEROLINEA]
GO


CREATE TABLE [dbo].[PILOTOS]
(
	[ID] INT NULL,
	[ID_PILOTO] NVARCHAR(30) NOT NULL,
	[NOMBRE] NVARCHAR(100) NOT NULL,
	[HORA_VUELO] nvarchar(20) null
)
GO

CREATE TABLE [dbo].[TRIPULACION]
(
	[ID] INT NULL,
	[ID_PERSONA] NVARCHAR(30) NOT NULL,
	[NOMBRE] NVARCHAR(100) NOT NULL,
	[VUELO] NVARCHAR(10) NULL
)
GO

CREATE TABLE [dbo].[VUELO]
(
	[ID] INT NULL,
	[ID_VUELO] NVARCHAR(30) NOT NULL,
	[DESTINO] NVARCHAR(80) NOT NULL,
	[ORIGEN] NVARCHAR(80) NOT NULL,
	[HORA_VUELO] NVARCHAR(10) NOT NULL,
	[AVION] NVARCHAR(80) NULL,
	[PILOTO] NVARCHAR(80) NULL,
	[FECHA] DATETIME NULL
)
GO


CREATE TABLE [dbo].[AVIONES]
(
	[ID] INT NULL,
	[ID_AVION] NVARCHAR(30) NOT NULL,
	[NOMBRE] NVARCHAR(80) NOT NULL,
	[TIPO] NVARCHAR(50) NOT NULL,
	[MANTENIMIENTO] DATE NOT NULL,
)
GO